@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tektur&display=swap');

.gm-svpc {
    display: none !important;
}

.gmnoprint button {
    padding: 6px 12px!important;
    height: unset !important;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Tektur',
        cursive;
}

#markerPanel {
    display: none;
}

#map {
    width: 100%;
    height: 100%;
}



nav {
    margin-bottom: 14px;
    padding: 8px;
}

.container-fluid {
    background-color: #fff;
    width: 240px;
    border-radius: 15px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
        color:#000 !important;

}


.form-check-input[type="checkbox"] {
    width: 360px !important;
    /* Adjust the width */
    height: 20px;
    /* Adjust the height */
}

.form-check {
    margin-top: 5px;
    margin-left: 15px;
}

.form-check-input:checked {
    background-color: #370fd6;
    /* Change this to your desired color */
    box-shadow: 0px;
}








.fixed-top {
    display: block !important;
}

.fixed-top div {
    display: flex !important;
}

.fixed-top button {
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid #333;
    border-radius: 15px;
}

#infoPanel {
    position: fixed;
    left: 0;
    top: 6%;
    display: flex;
    width: 60px;
}

#infoPanel img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

span {
    font-weight: bold;
    font-size: 22px;
}



/* Style the input and button */
#locationInput {
    position: relative;
    margin-top: 30px;
    width: 400px;
    padding: 8px;
    border: 0.3px solid #000;
    border-radius: 4px;
    margin-right: 5px;
    font-family: 'Tektur',
        cursive;
    opacity: 0.8;
    /* Add some spacing between input and button */
}

#addMarkerBtn {
    padding: 2px 28px;
    opacity: 0.9;
}

#addMarkerBtn:hover {
    opacity: 1;
}

#mouseCoordinates {
    font-family: 'Roboto',
        sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

#deleteMarkerBtn {
    background: red !important;
    color: #ffffff;
}



.marker-list {
    position: absolute;
    top: 50px;
    /* Adjust this value as needed */
    right: 10px;
    /* Adjust this value to control the distance from the right edge */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.marker-list h2 {
    margin-top: 0;
}

.marker-item {
    margin-bottom: 5px;
}

.marker-item button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {

    .container-fluid {
        width: 120px;
        font-size: 10px !important;
        text-align: center;
        background-color: #333333;

    }

    .nav-link {
        color: #ffffff !important;
    }

    #locationInput {
        margin-top: 90px !important;
        width: 100px !important;
        /* Add some spacing between input and button */
    }
     #addMarkerBtn {
         font-size: 14px !important;
         padding: 2px 6px !important;
     }
}

@media only screen and (max-width: 1400px) {
    #infoPanel {
        top: 7% !important;

    }


}

@media only screen and (min-width: 767px) and (max-width: 900px) {
    .container-fluid {
        text-align: center;
        width: 180px;
        background-color: #333333;
    }

    .nav-link {
        color: #ffffff !important;
    }

   



}
