body {
    background-color: #000;
    cursor: url('../img/cursorhover.png'),
    auto ;
   
    /* Set a dark background color */
    overflow: hidden;
    /* Hide any overflowing content */
    font-family: 'VT323', monospace;
}
/* CSS */
/* CSS */
.custom-cursor {
    cursor: url('../img/cursorhover.png'), auto;
}


@keyframes moveBackground {
    0% {
        background-position: 0 0;
        /* Start position of the background */
    }

    100% {
        background-position: 100% 100%;
        /* End position of the background */
    }
}

html {
    animation: moveBackground 30s linear infinite;
    /* Adjust the duration as needed */
}

.circle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: url('./img/spaceship.png') no-repeat center / cover;
    animation: moveCircle 5s linear infinite;
    /* Adjust the duration as needed */
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
        /* Start position of the circle */
    }

    100% {
        transform: translate(calc(var(--velocityX) * 100vw), calc(var(--velocityY) * 100vh));
        /* End position of the circle */
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100vh;
}

.header-box {
    display: flex;
}

.header-text{
    margin-right: 60px;
}

.header-text {
    text-align: left;
    padding-bottom: 200px;
}

.title {
    font-size: 96px ;
    color: #ffff;

}

.title span {
      color: #000;
      -webkit-text-stroke: 1px rgb(255, 255, 255);
      text-stroke: 1px purple;
}

header h3 {
    color: #cccccc;
}

header p {
    font-size: 42px;
      color: #ccc;
     
      line-height: 1;
}

.link-button {
    font-size: 22px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #8e44ad;
    background-image: linear-gradient(to bottom right, #8e44ad, #7b08ff);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    -webkit-box-shadow: 0px 1px 17px 1px rgba(255, 0, 255, 1);
    -moz-box-shadow: 0px 1px 17px 1px rgba(255, 0, 255, 1);
    box-shadow: 0px 1px 17px 1px rgba(255, 0, 255, 1);
    animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.link-button:hover {
    background-color: #7b08ff;
    background-image: linear-gradient(to bottom right, #7b08ff, #8e44ad);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 1px 17px 1px rgba(0, 102, 255, 1);
    -moz-box-shadow: 0px 1px 17px 1px rgba(0, 102, 255, 1);
    box-shadow: 0px 1px 17px 1px rgba(0, 102, 255, 1);
}


.fixed-bottom {
    text-align: center;
    padding-bottom: 50px;
}
.info {
    color: #ffffff;
    font-size: 36px;
}


.main-area img{
-webkit-box-shadow: 0px 1px 22px 1px rgba(183, 0, 255, 1);
-moz-box-shadow: 0px 1px 22px 1px rgba(183, 0, 255, 1);
box-shadow: 0px 1px 22px 1px rgba(183, 0, 255, 1);
border-radius: 10px;
width: 84%;
}



section {
    min-height: 100vh;
}


.slidebtn {
    font-size: 70px;
    color: purple !important;
}

.slidebtn:hover {
    color: #ffffff !important;
}

.slidebtn h3 {
    position: relative;
    top: -40px;
    color: #fff;
    font-size: 32px;
    transform: 0.3 ease;
}

.slidebtn:hover h3 {
    color: purple;
}

.carousel-indicators [data-bs-target] {
    background: purple;
    border: 1px solid purple !important;
}


.modal-title {
    font-size: 28px ;
}

.modal-header{
    padding-top: 0;
    padding-bottom: 0;
}
.btn-close {
    filter: invert(1);
    /* Set the desired color using invert */
}

.modal-content {
    background: #262159;
    color: #ffffff;
    font-size: 22px;
    
}
.modal-content b {
    color: rgb(255, 160, 255);
}
.modal-content a {
    text-decoration: none;
    color: #ffffff;
}

i {
    color: #ffffff !important;
    margin-right: 10px;
    margin-top: 5px;
}
.modal-body {
    display: flex;
    justify-content: space-between;
}

.modal-body img {
    width: 150px;
    height: unset;
}




@media (max-width: 768px) {
    header {
        display: block;
        text-align: center;
       
        max-height: 100vh;
        max-width: 100vh;
    }
    .header-text {
        margin: auto;
        text-align: center;
        padding-bottom: 0;
    }
    .header-box {
        margin-top: 6vh;
        display: block;
        width: 100%;
    }


   .title {
       font-size: 59px !important;
   }
   header p {
       font-size: 28px;
   }
   .slidediv {
      display: none;
   }
   .link-button {
       font-size: 20px;
         transition: background-color 0.3s ease,
         transform 0.3s ease;
         -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 0, 255, 1);
         -moz-box-shadow: 0px 0px 0px 0px rgba(255, 0, 255, 1);
         box-shadow: 0px 0px 0px 0px rgba(255, 0, 255, 1);
         margin-bottom: 36px;
   }

   .fixed-bottom {
       display: none;
   }
   .modal {
       width: 100vw;
       position: absolute;
   }
   .modal-body {
    display: block;
   }

  
   .modal-body img {
       width: 60%;
   }

   
}

@media (min-width: 768px) and (max-width: 1400px) {
  
    header {
        margin-top: 16vh;
        display: block;
        text-align: center;
    } 

    .slidebtn {
        font-size: 72px;
    }
    .header-box {
        display: block;
        text-align: center;
    }
    .header-text, .main-area{
        margin: auto;
        text-align: center;
        padding-bottom: 0;
    }
    .title {
        text-align: center;
        width: 56px !important;
    }
    header p {
        font-size: 22px;
    }
    .link-button {
        font-size: 22px;
    }

    .main-area img {
        width: 90%;
        text-align: center;
    }
}
