body {
    background-color: #000;
    cursor: url('./img/cursorhover.png'),
        auto;

    /* Set a dark background color */
    overflow: hidden;
    /* Hide any overflowing content */
    font-family: 'VT323', monospace;
}

/* CSS */
/* CSS */
.custom-cursor {
    cursor: url('./img/cursorhover.png'), auto;
}


@keyframes moveBackground {
    0% {
        background-position: 0 0;
        /* Start position of the background */
    }

    100% {
        background-position: 100% 100%;
        /* End position of the background */
    }
}

html {
    animation: moveBackground 30s linear infinite;
    /* Adjust the duration as needed */
}

.circle {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url('./img/spaceship.png') no-repeat center / cover;
    animation: moveCircle 5s linear infinite;
    /* Adjust the duration as needed */
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
        /* Start position of the circle */
    }

    100% {
        transform: translate(calc(var(--velocityX) * 100vw), calc(var(--velocityY) * 100vh));
        /* End position of the circle */
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100vh;
}

.header-box {
    display: flex;
}

.header-text {
    margin-right: 60px;
}

.header-text {
    text-align: left;
    padding-bottom: 200px;
}

.title {
    font-size: 96px;
    color: #ffff;

}

.title span {
    color: #000;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-stroke: 1px purple;
}

header h3 {
    color: #cccccc;
}

header p {
    font-size: 42px;
    color: #ccc;

    line-height: 1;
}

.link-button {
    font-size: 22px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #8e44ad;
    background-image: linear-gradient(to bottom right, #8e44ad, #7b08ff);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    -webkit-box-shadow: 0px 1px 17px 1px rgba(255, 0, 255, 1);
    -moz-box-shadow: 0px 1px 17px 1px rgba(255, 0, 255, 1);
    box-shadow: 0px 1px 17px 1px rgba(255, 0, 255, 1);
    animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.link-button:hover {
    background-color: #7b08ff;
    background-image: linear-gradient(to bottom right, #7b08ff, #8e44ad);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 1px 17px 1px rgba(0, 102, 255, 1);
    -moz-box-shadow: 0px 1px 17px 1px rgba(0, 102, 255, 1);
    box-shadow: 0px 1px 17px 1px rgba(0, 102, 255, 1);
}


.fixed-bottom {
    text-align: center;
    padding-bottom: 50px;
}

.info {
    color: #ffffff;
    font-size: 36px;
}



.main-area img {
    position: relative;
    top: -50px;
    width: 100%;
}





section {
    min-height: 100vh;
}


.slidebtn {
    font-size: 70px;
    color: purple !important;
}

.slidebtn:hover {
    color: #ffffff !important;
}

.slidebtn h3 {
    position: relative;
    top: -40px;
    color: #fff;
    font-size: 32px;
    transform: 0.3 ease;
}

.slidebtn:hover h3 {
    color: purple;
}

.carousel-indicators [data-bs-target] {
    background: purple;
    border: 1px solid purple !important;
}


.modal-title {
    font-size: 28px;
}

.modal-header {
    padding-top: 0;
    padding-bottom: 0;
}

.btn-close {
    filter: invert(1);
    /* Set the desired color using invert */
}

.modal-content {
    background: #262159;
    color: #ffffff;
    font-size: 22px;

}

.modal-content b {
    color: rgb(255, 160, 255);
}

.modal-content a {
    text-decoration: none;
    color: #ffffff;
}

i {
    color: #ffffff !important;
    margin-right: 10px;
    margin-top: 5px;
}

.modal-body {
    display: flex;
    justify-content: space-between;
}

.modal-body img {
    width: 150px;
    height: unset;
}


.secondwin {
    position: relative;
    top: -30px;
    text-align: center !important;
}



@media (max-width: 768px) {
    header {
        display: block;
        text-align: center;

        max-height: 100vh;
        max-width: 100vh;
    }

    .header-text {
        margin: auto;
        text-align: center;
        padding-bottom: 0;
    }

    .header-box {
        margin-top: 6vh;
        display: block;
        width: 100%;
    }


    .title {
        font-size: 59px !important;
    }

    header p {
        font-size: 28px;
    }

    .slidediv {
        display: none;
    }

    .link-button {
        font-size: 20px;
        transition: background-color 0.3s ease,
            transform 0.3s ease;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 0, 255, 1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(255, 0, 255, 1);
        box-shadow: 0px 0px 0px 0px rgba(255, 0, 255, 1);
        margin-bottom: 36px;
    }

    .fixed-bottom {
        display: none;
    }

    .modal {
        width: 100vw;
        position: absolute;
    }

    .modal-body {
        display: block;
    }


    .modal-body img {
        width: 60%;
    }


}

@media (min-width: 768px) and (max-width: 1400px) {

    header {
        margin-top: 16vh;
        display: block;
        text-align: center;
    }

    .slidebtn {
        font-size: 72px;
    }

    .header-box {
        display: block;
        text-align: center;
    }

    .header-text,
    .main-area {
        margin: auto;
        text-align: center;
        padding-bottom: 0;
    }

    .title {
        text-align: center;
        width: 56px !important;
    }

    header p {
        font-size: 22px;
    }

    .link-button {
        font-size: 22px;
    }

    .main-area img {
        width: 90%;
        text-align: center;
    }
}





.glitch {
    color: #dfbfbf;
    position: relative;
    font-size: 9vw;
    animation: glitch 5s 5s infinite;
}

.glitch::before,
.glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after,
.glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 lightgreen;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    3.3333333333% {
        clip-path: inset(55px 0 14px 0);
    }

    6.6666666667% {
        clip-path: inset(38px 0 22px 0);
    }

    10% {
        clip-path: inset(19px 0 59px 0);
    }

    13.3333333333% {
        clip-path: inset(76px 0 2px 0);
    }

    16.6666666667% {
        clip-path: inset(46px 0 15px 0);
    }

    20% {
        clip-path: inset(25px 0 73px 0);
    }

    23.3333333333% {
        clip-path: inset(83px 0 17px 0);
    }

    26.6666666667% {
        clip-path: inset(94px 0 7px 0);
    }

    30% {
        clip-path: inset(21px 0 54px 0);
    }

    33.3333333333% {
        clip-path: inset(23px 0 10px 0);
    }

    36.6666666667% {
        clip-path: inset(11px 0 6px 0);
    }

    40% {
        clip-path: inset(36px 0 36px 0);
    }

    43.3333333333% {
        clip-path: inset(50px 0 38px 0);
    }

    46.6666666667% {
        clip-path: inset(50px 0 44px 0);
    }

    50% {
        clip-path: inset(79px 0 22px 0);
    }

    53.3333333333% {
        clip-path: inset(7px 0 67px 0);
    }

    56.6666666667% {
        clip-path: inset(93px 0 3px 0);
    }

    60% {
        clip-path: inset(63px 0 23px 0);
    }

    63.3333333333% {
        clip-path: inset(99px 0 2px 0);
    }

    66.6666666667% {
        clip-path: inset(37px 0 18px 0);
    }

    70% {
        clip-path: inset(82px 0 3px 0);
    }

    73.3333333333% {
        clip-path: inset(23px 0 55px 0);
    }

    76.6666666667% {
        clip-path: inset(100px 0 1px 0);
    }

    80% {
        clip-path: inset(82px 0 17px 0);
    }

    83.3333333333% {
        clip-path: inset(86px 0 9px 0);
    }

    86.6666666667% {
        clip-path: inset(66px 0 16px 0);
    }

    90% {
        clip-path: inset(5px 0 68px 0);
    }

    93.3333333333% {
        clip-path: inset(49px 0 22px 0);
    }

    96.6666666667% {
        clip-path: inset(17px 0 41px 0);
    }

    100% {
        clip-path: inset(58px 0 25px 0);
    }
}

@keyframes noise-2 {
    0% {
        clip-path: inset(31px 0 5px 0);
    }

    3.3333333333% {
        clip-path: inset(30px 0 56px 0);
    }

    6.6666666667% {
        clip-path: inset(97px 0 1px 0);
    }

    10% {
        clip-path: inset(98px 0 3px 0);
    }

    13.3333333333% {
        clip-path: inset(83px 0 1px 0);
    }

    16.6666666667% {
        clip-path: inset(6px 0 3px 0);
    }

    20% {
        clip-path: inset(58px 0 41px 0);
    }

    23.3333333333% {
        clip-path: inset(91px 0 3px 0);
    }

    26.6666666667% {
        clip-path: inset(1px 0 33px 0);
    }

    30% {
        clip-path: inset(60px 0 11px 0);
    }

    33.3333333333% {
        clip-path: inset(88px 0 1px 0);
    }

    36.6666666667% {
        clip-path: inset(89px 0 9px 0);
    }

    40% {
        clip-path: inset(55px 0 4px 0);
    }

    43.3333333333% {
        clip-path: inset(97px 0 2px 0);
    }

    46.6666666667% {
        clip-path: inset(16px 0 3px 0);
    }

    50% {
        clip-path: inset(7px 0 44px 0);
    }

    53.3333333333% {
        clip-path: inset(57px 0 6px 0);
    }

    56.6666666667% {
        clip-path: inset(25px 0 75px 0);
    }

    60% {
        clip-path: inset(24px 0 64px 0);
    }

    63.3333333333% {
        clip-path: inset(95px 0 5px 0);
    }

    66.6666666667% {
        clip-path: inset(56px 0 19px 0);
    }

    70% {
        clip-path: inset(43px 0 1px 0);
    }

    73.3333333333% {
        clip-path: inset(52px 0 3px 0);
    }

    76.6666666667% {
        clip-path: inset(47px 0 46px 0);
    }

    80% {
        clip-path: inset(40px 0 4px 0);
    }

    83.3333333333% {
        clip-path: inset(89px 0 12px 0);
    }

    86.6666666667% {
        clip-path: inset(68px 0 18px 0);
    }

    90% {
        clip-path: inset(62px 0 38px 0);
    }

    93.3333333333% {
        clip-path: inset(91px 0 2px 0);
    }

    96.6666666667% {
        clip-path: inset(86px 0 8px 0);
    }

    100% {
        clip-path: inset(40px 0 33px 0);
    }
}

.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
}

.scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
    animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 2%);
    }
}

.glow {
    text-shadow: 0 0 1000px #dfbfbf;
    color: transparent;
    position: absolute;
    top: 0;
}

.glowp {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: rgba(165, 141, 141, .4);
    text-transform: uppercase;
    letter-spacing: 0px;
    position: absolute;
    animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}


.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff, 25vw -41vh 0px 0px #fff, -20vw 49vh 0px 1px #fff, 5vw 40vh 1px 1px #fff, 29vw 19vh 1px 0px #fff, -44vw -13vh 0px 0px #fff, 46vw 41vh 0px 1px #fff, -3vw -45vh 0px 1px #fff, 47vw 35vh 1px 0px #fff, 12vw -8vh 1px 0px #fff, -34vw 48vh 1px 1px #fff, 32vw 26vh 1px 1px #fff, 32vw -41vh 1px 1px #fff, 0vw 37vh 1px 1px #fff, 34vw -26vh 1px 0px #fff, -14vw -49vh 1px 0px #fff, -12vw 45vh 0px 1px #fff, -44vw -33vh 0px 1px #fff, -13vw 41vh 0px 0px #fff, -36vw -11vh 0px 1px #fff, -23vw -24vh 1px 0px #fff, -38vw -27vh 0px 1px #fff, 16vw -19vh 0px 0px #fff, 28vw 33vh 1px 0px #fff, -49vw -4vh 0px 0px #fff, 16vw 32vh 0px 1px #fff, 36vw -18vh 1px 0px #fff, -25vw -30vh 1px 0px #fff, -23vw 24vh 0px 1px #fff, -2vw -35vh 1px 1px #fff, -25vw 9vh 0px 0px #fff, -15vw -34vh 0px 0px #fff, -8vw -19vh 1px 0px #fff, -20vw -20vh 1px 1px #fff, 42vw 50vh 0px 1px #fff, -32vw 10vh 1px 0px #fff, -23vw -17vh 0px 0px #fff, 44vw 15vh 1px 0px #fff, -40vw 33vh 1px 1px #fff, -43vw 8vh 0px 0px #fff, -48vw -15vh 1px 1px #fff, -24vw 17vh 0px 0px #fff, -31vw 50vh 1px 0px #fff, 36vw -38vh 0px 1px #fff, -7vw 48vh 0px 0px #fff, 15vw -32vh 0px 0px #fff, 29vw -41vh 0px 0px #fff, 2vw 37vh 1px 0px #fff, 7vw -40vh 1px 1px #fff, 15vw 18vh 0px 0px #fff, 25vw -13vh 1px 1px #fff, -46vw -12vh 1px 1px #fff, -18vw 22vh 0px 0px #fff, 23vw -9vh 1px 0px #fff, 50vw 12vh 0px 1px #fff, 45vw 2vh 0px 0px #fff, 14vw -48vh 1px 0px #fff, 23vw 43vh 0px 1px #fff, -40vw 16vh 1px 1px #fff, 20vw -31vh 0px 1px #fff, -17vw 44vh 1px 1px #fff, 18vw -45vh 0px 0px #fff, 33vw -6vh 0px 0px #fff, 0vw 7vh 0px 1px #fff, -10vw -18vh 0px 1px #fff, -19vw 5vh 1px 0px #fff, 1vw 42vh 0px 0px #fff, 22vw 48vh 0px 1px #fff, 39vw -8vh 1px 1px #fff, -6vw -42vh 1px 0px #fff, -47vw 34vh 0px 0px #fff, -46vw 19vh 0px 1px #fff, -12vw -32vh 0px 0px #fff, -45vw -38vh 0px 1px #fff, -28vw 18vh 1px 0px #fff, -38vw -46vh 1px 1px #fff, 49vw -6vh 1px 1px #fff, -28vw 18vh 1px 1px #fff, 10vw -24vh 0px 1px #fff, -5vw -11vh 1px 1px #fff, 33vw -8vh 1px 0px #fff, -16vw 17vh 0px 0px #fff, 18vw 27vh 0px 1px #fff, -8vw -10vh 1px 1px #fff;

    /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */

    box-shadow: 24vw 9vh 1px 0px #fff, 12vw -24vh 0px 1px #fff, -45vw -22vh 0px 0px #fff, -37vw -40vh 0px 1px #fff, 29vw 19vh 0px 1px #fff, 4vw -8vh 0px 1px #fff, -5vw 21vh 1px 1px #fff, -27vw 26vh 1px 1px #fff, -47vw -3vh 1px 1px #fff, -28vw -30vh 0px 1px #fff, -43vw -27vh 0px 1px #fff, 4vw 22vh 1px 1px #fff, 36vw 23vh 0px 0px #fff, -21vw 24vh 1px 1px #fff, -16vw 2vh 1px 0px #fff, -16vw -6vh 0px 0px #fff, 5vw 26vh 0px 0px #fff, -34vw 41vh 0px 0px #fff, 1vw 42vh 1px 1px #fff, 11vw -13vh 1px 1px #fff, 48vw -8vh 1px 0px #fff, 22vw -15vh 0px 0px #fff, 45vw 49vh 0px 0px #fff, 43vw -27vh 1px 1px #fff, 20vw -2vh 0px 0px #fff, 8vw 22vh 0px 1px #fff, 39vw 48vh 1px 1px #fff, -21vw -11vh 0px 1px #fff, -40vw 45vh 0px 1px #fff, 11vw -30vh 1px 0px #fff, 26vw 30vh 1px 0px #fff, 45vw -29vh 0px 1px #fff, -2vw 18vh 0px 0px #fff, -29vw -45vh 1px 0px #fff, -7vw -27vh 1px 1px #fff, 42vw 24vh 0px 0px #fff, 45vw -48vh 1px 0px #fff, -36vw -18vh 0px 0px #fff, -44vw 13vh 0px 1px #fff, 36vw 16vh 0px 1px #fff, 40vw 24vh 0px 0px #fff, 18vw 11vh 0px 0px #fff, -15vw -23vh 1px 0px #fff, -24vw 48vh 0px 1px #fff, 27vw -45vh 1px 0px #fff, -2vw -24vh 0px 1px #fff, -15vw -28vh 0px 0px #fff, -43vw 13vh 1px 0px #fff, 7vw 27vh 1px 0px #fff, 47vw 5vh 0px 0px #fff, -45vw 15vh 1px 1px #fff, -5vw -28vh 0px 1px #fff, 38vw 25vh 1px 1px #fff, -39vw -1vh 1px 0px #fff, 5vw 0vh 1px 0px #fff, 49vw 13vh 0px 0px #fff, 48vw 10vh 0px 1px #fff, 19vw -28vh 0px 0px #fff, 4vw 7vh 0px 0px #fff, 21vw 21vh 1px 1px #fff, -15vw -15vh 0px 1px #fff, -6vw -42vh 1px 0px #fff, -15vw 48vh 1px 1px #fff, -23vw 25vh 1px 1px #fff, -48vw 25vh 0px 1px #fff, -31vw -19vh 0px 1px #fff, 4vw 37vh 1px 1px #fff, -43vw 28vh 0px 0px #fff, 3vw -25vh 0px 1px #fff, -39vw 14vh 0px 1px #fff, -40vw 31vh 0px 1px #fff, 35vw -36vh 1px 1px #fff, 16vw 49vh 0px 0px #fff, 6vw 39vh 0px 0px #fff, 3vw -35vh 0px 1px #fff, -44vw -2vh 1px 0px #fff, -6vw 21vh 1px 0px #fff, 48vw 9vh 1px 1px #fff, -43vw 30vh 1px 1px #fff, 29vw -12vh 1px 1px #fff, -48vw 13vh 1px 0px #fff, -42vw 32vh 1px 1px #fff, 34vw 15vh 1px 1px #fff, 29vw -37vh 1px 1px #fff, 28vw 2vh 0px 0px #fff;
    animation: zoom 16s alternate infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}